:root {
  --page-color: #f0f0f0;
  --popup-color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--page-color);
  font-family: sans-serif; /* A generic sans-serif fallback */
  min-height: 100vh; /* Ensure page fills the viewport height */
  margin: 0; /* Reset default margins */
}

.card {
  width: 300px; 
  background-color: var(--popup-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px; 
  text-align: center; /* Center form content */
}

input[type='text'],
input[type='number'],
textarea {
  width: 80%; /* Make input fields wider */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
   display: block; /* Puts label on its own line */
   margin-bottom: 0px;
   margin-top: 15px;
}

button {
  margin: 10px 5px; 
  padding: 10px 15px;
  background-color: #007bff; /* Bootstrap primary blue */
  color: var(--popup-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

button:hover {
  background-color: #0056b3; /* A darker blue */
}

#wordsearch-form-container {
  margin-bottom: 20px;
}

/* Preview Container */
#wordsearch-preview-container {
  background-color: var(--page-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px; 
  text-align: center;
  margin-top: 20px;
}

#preview-grid {
  color: green;
  filter: blur(3px); 
  -webkit-filter: blur(3px); 
  user-select: none;
}

.popup { 
  position: absolute;
  top: 10%;
  border: 2px solid red;
  border-radius: 1em;
}
.popup strong {
  color: red;
}

