<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/static/index.css'>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <meta name="description" content="Play word searches in real-time with friends!">
    <meta property="og:title" content="Wordsearch Racer">
    <meta property="og:description" content="Play word searches in real-time with friends!">
    <meta property="og:image" content="/static/Untitled.png">
    <meta property="og:url" content="https://wordsearch-racer.replit.app">
    <meta property="og:type" content="website">
    <title>Wordsearch Racer</title>
</head>
<body>

    <div id='content-container'>
    <h1>Wordsearch Racer</h1>
      <div class="card-container">
          <div class="card" id="quickplay-multiplayer">
              <h2>Quick Play - Multiplayer</h2>
              <p>Challenge others online.</p>
              <button>Play</button>
          </div>
          <div class="card" id="quickplay-solo">
              <h2>Quick Play - Solo</h2>
              <p>Play by yourself.</p>
              <button>Play</button>
          </div>
          <div class="card" id="create-puzzle">
              <h2>Create Puzzle</h2>
              <p>Create your own puzzle to play online or solo.</p>
              <button>Create</button>
          </div>
      </div>
    </div>
    <div id='cascade-container'></div>
  <script src='/static/index.js'></script>
</body>
</html>